@import '../../../config.scss';



.action-span {
    margin: 8px;
    cursor: pointer;
    font-size: 14px;
    color: $primary-color;
}





/// modal



.tooltip.filter {
    font-size: 26px;
    color: #02366a;
    cursor: pointer;
}

.filter-button {
    min-width: 115px;
    padding: 18px;
    height: 36px;
    line-height: 0px;
    margin-top: 10px;
}
.error
{
    font-size: 12px;
    color:red;
    cursor: pointer;
}
.raisepo-button
{
    padding: 10px 28px;
    background: #53a75c;
    color: #ffffff;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}
.allapply
{
    margin-bottom: 0px;
    /* margin-left: 10px; */
    /* top: -1px; */
    position: relative;
    /* left: 0px; */
    right: 5px;
    float: right;
    background: white;
    padding: 2px 10px;
}
.isdiscountapplied
{
    padding: 0px;
    margin: 0px;
    position: relative;
   padding-left:5px;
    color:green;
}
.p.inner {
    color: green;
}
.p.outer {
    color: red;
    text-decoration: line-through;
}
.approve{
    background: #1c7430;
    color: #ffffff;
    border: none;
    width: 100px;
    min-width: 100px;
    height: 36px;
    line-height: 8px;
}

.reject{
    background: #ef5350;
    color: #ffffff;
    border: none;
    width: 100px;
    min-width: 100px;
    height: 36px;
    margin: 0px 0px;
    line-height: 8px;
}


.pending{
    color: #ffb64d;
    font-size: 13px;
    font-weight: bold;
}

.approval{
    color: #007100;
    font-size: 13px;
    font-weight: bold;
}

.cancelled{
    color: #f12a28;
    font-size: 13px;
    font-weight: bold;
}
.GSTCorrect
{
    border: 1px dotted black;
    position: relative;
    bottom: -300px;
}
.tableTotal
{
    width:auto;
    float: right;
}

.upload-label{
    padding: 10px;
    background: #ffffff;
    display: table;
    color: #337ec8;
    border: 2px solid #337ec8;
    border-style: dashed;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    height: 110px;
    text-align: center;
    line-height: 95px;
    cursor: pointer;
}

.logo-upload[type="file"] {
    display: none;
}

.upload-img{
    width: 120px;
    height: 110px;
    object-fit: cover;
}

.upload-delete{
    position: absolute;
    bottom: 14px;
    margin-left: 80px;
    background: #fff;
    padding: 7px;
    border-radius: 46%;
    font-size: 16px;
}

.tooltiptext.custom{
    width: 90px;
    font-size: 12px;
    left: 4px;
    top: 28px;
}



.radio {
    margin: 0.5rem;
  }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
  .radio input[type="radio"]:checked + .radio-label:before {
    background-color: #337ec8;
    box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  .radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #337ec8;
  }
  .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
  }
  .radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
  }


.radio-heading {
    font-weight: bold;
    margin-bottom: 15px;
    color: #757373
}

.upload-delete{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.error
{
    font-size: 12px;
    color:red;

}
.client-heading{
    margin: 0px;
    margin-left: 30px;
    color: #777;
    padding-bottom: 5px;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 20px;
  }
  .radio-align p{
    text-align: center;
  }
  .radio-align ul li{
  list-style: none;
  display: inline-block;
  }
  .chek-align ul li{
    list-style: none;
    display: inline-block;
    padding-left: 8px;

  }
  .reg-heading {
    font-weight: bold;
    color: #757373;
    text-align: center;
  }
    .align-heading{
      font-weight: bold;
      color: #757373;
    }
    .clientLocation-button{
      padding: 7px 8px;
      background:#53a75c;
      color: #ffffff;
      border: 1px solid;
      border-radius: 4px;
      cursor: pointer;
  }

  .modal {
    display: none;
    position: relative;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }


  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 20px;
    padding: 20px;   
    z-index: 9999;
    position: fixed;
    top: 80px;
    overflow: auto;
    width: auto;
    right: 0px;
    left: 69px;
    max-height: 500px;
  }

  .modal-content::-webkit-scrollbar {
    background-color: #f5f5f5;
    height: 10px;
  }


  .modal-content::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
  }


  .modal-content::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 5px;
  }
  .lc-delete{
    background: none;
    border: 1px solid #53a75c;
    color: #53a75c;
    font-size: 12px;
    padding: 5px 16px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  .md2-dialog-body
  {
    overflow-y: unset!important;
  }
  .modal-footer
  {
   
    background: black;
    bottom: -10px;
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 10px;
  }
  .heading-p
  {
    height: 45px;
    background: #2a5166;
    color: white;
    padding: 14px;
    border-radius: 5px;
  }