<div id="showModel" class="modal-box" (keypress)="closeDiv($event)" style="display:block" *ngIf="modalDetails.is_view">
</div>
<app-loader *ngIf="commonVariableList.isProgressing"></app-loader>
<div (keypress)="closeDiv($event)" class="modal-content" id="{{modalDetails.id}}" style="width: auto;"
  *ngIf="modalDetails.is_view&&!commonVariableList.isProgressing">
  <p class="heading-p"> {{modalDetails.name}} </p>
  <!-- {{dataList|json}} -->
  <div  *ngIf="!commonVariableList.is_history">
  <mat-card class="mat-elevation-z8 col-sm-12">

    <!-- show data after item table-->
    <app-generic-afterdiv-list [divDetails]="commonVariableList.afterDivDetails"></app-generic-afterdiv-list>

    <!-- show attachment -->
    <app-generic-attachment [attachment]="commonVariableList.attachments"></app-generic-attachment>

  </mat-card>
</div>
  <footer>
    <button class="button-border" style="float: right;" (click)="hideModal();">Cancel</button>
  </footer>
</div>
<app-no-records *ngIf="!commonVariableList.dataList && !commonVariableList.isProgressing">
</app-no-records>

