<!-- show product details-->
 <!-- show div data before item-->
 <div class="empty-div" *ngIf="stillLoading">
  <p>Fetching Items .... </p>
  <!-- <div>
    <img src="{{webService.imageUrl}}images/loadingrecord.gif" style="width: 300px;">
  </div> -->
</div>

<div class="csv-table" *ngIf="!stillLoading" style="width:100%;">
  <div class="content">
    <table class="create-table">
      <thead>
        <tr class="head-row">
          <th *ngFor="let row of commonVariableList.columnList" [hidden]="!row.is_view" [ngClass]="[row.tr_class]">
            {{row.display}}
          </th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
      <tbody *ngIf="commonVariableList.items.length!=undefined && commonVariableList.items.length>0">
        <tr *ngFor="let d of commonVariableList.items;let indexing=index" class="tr{{indexing}}"  [style.background]="d.is_highlighted_row?'#c2c2c2':''"  title="{{d.is_highlighted_row?'New Item Added':''}}">
          <td *ngFor="let row of commonVariableList.columnList;let i=index" [hidden]="!row.is_view"
            [ngClass]="[row.td_class]" [style.color]="company_setup.generice_ui_paragraph_color_code">
            <div *ngIf="row.is_download&&!row.is_event">
              <a href="{{d[row.value]}}" style="text-decoration: none;" target="_blank" download>
                <i class="{{row.icon}}" style="width:50px;height:30px;"></i>
                <p>Download</p>
              </a>
            </div>
            <div *ngIf="row.is_download&&row.is_event&&row.event.type=='click'">
              <div (click)="eventAction(row,d);" style="color: #2196F3;cursor: pointer;" download>
                <i class="{{row.icon}}" style="width:50px;height:30px;"></i>
                <p>Download</p>
              </div>
            </div>
            <div *ngIf="row.is_text">

              <div *ngIf="row.input_type=='text'" style="font-size: 11px;" [ngClass]="row.is_html?'prelineclass':''">
                {{d[row.value]}}
              </div>
              <div *ngIf="row.input_type=='checkbox'">
                <div class="pure-checkbox">
                  <input id="row.display{{i}}" [disabled]="row.is_disabled" type="checkbox" [(ngModel)]="d[row.value]">
                  <label for="row.display{{i}}">{{row.display}}</label>
                </div>
              </div>

              <div *ngIf="row.input_type=='radio'">
                <!-- <p class="radio-heading">{{row.display}}</p> -->
                <div class="radio">
                  <input id="row.display{{i}}" type="radio" [disabled]="row.is_disabled" name="row.display{{i}}"
                    value="d[row.value]" [(ngModel)]="d[row.value]">
                  <label for="row.display{{i}}" class="radio-label">{{d[row.value]}}</label>
                </div>

              </div>
            </div>
            <div *ngIf="row.is_number">
              <div style="font-size: 11px;" class="testing_div_{{row.value}}">

                <p class="testing_p_{{row.value}}">
                  <i [ngClass]="webService.getCurrencyIcon(company_setup.currency_icon,'currency_report_icon')"
                    *ngIf="row.is_currency"> </i>
                  {{webService.numberWithCommas(d[row.value])}}</p>

                <div style="font-size: 11px;" *ngIf="row.is_extra" class="testing_{{row.extra_value}}">
                  <p *ngIf="row.extra_is_number && d[row.extra_value]!=''" class="extra_number">
                    ({{d[row.extra_value]?d[row.extra_value]:''}} %)
                  </p>
                  <p *ngIf="!row.extra_is_number && d[row.extra_value]!=''" class="extra_not_number">
                    ({{d[row.extra_value]?d[row.extra_value]:''}} %)
                  </p>


                </div>
              </div>

            </div>

            <div *ngIf="row.is_attachment">
              <div class="col-sm-12" style="margin-top:20px; "
                *ngIf="d.attachment.length!=undefined&&d.attachment.length>0">
                <p *ngIf="d.attachment.length!=undefined&&d.attachment.length>0" style="margin-left: 10px;">
                  <b>Attachments</b></p>
                <div class="col-sm-10" style="padding:0px;">
                  <div class="upload-div" *ngFor="let xdata of d.attachment">
                    <a href="{{xdata.display}}" style="display: block;" target="_blank">
                      <!-- <i class="fa fa-file-o"></i> -->
                      <i class="{{xdata.iconclass}}"></i>
                      <p class="uplodedfilename">{{xdata.filename}}</p>
                      <p matTooltip="View/Download :- {{xdata.filename}}" class="download">
                        <i class="fa fa-cloud-download"></i>
                      </p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <!-- <td>
            <span class="action-span" *ngFor="let action of actionsList" (click)="getId(d.id,action.action,d)"><i
                [class]="action.icon" matTooltip="{{action.action}}"></i></span>
          </td> -->
        </tr>
      </tbody>
      <tbody *ngIf="commonVariableList.items.length==undefined || commonVariableList.items.length<=0 && !isProgressing">
        <tr>
          <td>Record Not Found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
