<div  class="notGrid">
  <mat-toolbar  class="mat-toolbar mat-toolbar-single-row ng-star-inserted" style="width: 100vw; background: url(&quot;../../assets/images/home/Bg.jpg&quot;);">
     <a  routerlink="/" href="/"><img  src="./assets/images/white-logo.png" alt="ReadyAssist Logo" class="logo"></a><span  class="example-spacer"></span>
     <div  class="ham-bg" style="display: flex; align-items: start;">
        <div  class="subs-btn pointer animate__animated animate__pulse" style="font-family: pBold, sans-serif;">SUBSCRIBE NOW <i  class="downArrow bounce fas fa-arrow-alt-circle-down text-dark" aria-hidden="true"></i></div>
     </div>
     <mat-icon  role="img" class="mat-icon notranslate hamburger material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">view_headline</mat-icon>
  </mat-toolbar>
  <!----><!---->
</div>