
<div class="dynamic_header">
  <div class="page-header" id="header">
    <h2 class="header-title" [ngStyle]="{'color':companyThemeBlockColor}">{{companyName}}</h2>

    <i class="fa fa-search header-fasearch" *ngIf="!searchedItem"></i>
    <i class="fa fa-times header-fasearch" *ngIf="searchedItem" (click)="clearAutocomplete()"></i>
    <mat-form-field class="header-search">
      <input type="text" placeholder="search.." aria-label="Number" matInput [(ngModel)]="searchedItem"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getSearchedValue($event)">
        <mat-option *ngFor="let value of arrayForSearch |search: searchedItem" [value]="value.menuName">
          {{value.menuName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="hide-small">

      <div class="header-actions" md2-menu>
        <i class="fa fa-bell header-fa" id="noti_list" style="border-right: 1px solid #ececec;" mat-icon-button
          [matMenuTriggerFor]="notificationMenu">
          <span class="notification-span" *ngIf="unreadNotifications.length > 0">
            {{unreadNotifications.length}}
          </span>
        </i>
        <mat-menu #appMenu="matMenu">
          <a mat-menu-item>
            <i class="fa fa-user menu-fa"></i>User Profile
          </a>
          <a md2-menu-item>
            <i class="fa fa-key menu-fa"></i>Reset Password
        </a>
          <a mat-menu-item>
            <i class="fa fa-sign-out menu-fa"></i>Logout
          </a>
        </mat-menu>

        <mat-menu #notificationMenu="matMenu" class="notification-menu-div">
          <p  style="text-align: center;font-size: 12px;">
            No Notifications found</p>
         
        </mat-menu>

        <div class="usermail">
          <button mat-icon-button [matMenuTriggerFor]="appMenu" class="user_button">
            <p class="username ">{{userName}}</p>
            <p class="usercode">{{userCode}}</p>
          </button>
        </div>

      </div>
    </div>

    <div class="menu-div show-small" md2-menu>
      <span class="notification-span-new" *ngIf="unreadNotifications.length > 0" md2-menu-trigger>
        {{unreadNotifications.length}}
      </span>
      <i class="fa fa-search"></i>
      <i class="fa fa-bell"></i>
      <i class="fa fa-bars" *ngIf="!isMenuIconOpened" (click)="openMenuNav()"></i>
      <i class="fa fa-times" *ngIf="isMenuIconOpened" (click)="closeMenuNav()"></i>

      </div>
  </div>

  <nav class="main-menu" id="mySidenav" (mouseover)="openNav()" (mouseleave)="closeNav()">
    <div class="toolbar-logo">
      <li (click)="goHome();">
        <img (click)="goHome();" src="{{companyLogo}}" class="big-logo_custom" *ngIf="isclosed && companyLogo !=''">
        <img (click)="goHome();" class="animated fadeInUp" src="{{companyLogo}}" class="readyassistLogo"
          *ngIf="!isclosed && companyLogo !=''" />
        <img src="./assets/images/white-logo.png" class="big-logo" *ngIf="isclosed && companyLogo ==''">
        <img class="animated fadeInUp" src="./assets/images/white-logo.png" class="readyassistLogo"  *ngIf="!isclosed && companyLogo ==''" />
        <span class="nav-text">
        </span>
      </li>
    </div>
    <ul class="menu-ul">
      <li *ngFor="let m of menuList;let i = index" (click)="navigate(m.aurl)"
        [ngStyle]="{'background-color': m.activemenu ? 'rgba(85, 127, 150, 0.38)' : 'transparent' }">
        <a (click)="showMenuList(i)"  [ngStyle]="{'background-color':companyThemeBlockColor,'color':CompanyThemetextColor}">
          <img src="./assets/Icon/PNG/{{m.menuitemicon}}" class="menu-img" [ngStyle]="{'background-color':CheckthemeImage}"/>
          <span class="nav-text">
            {{m.menuitemname}}
          </span>
          <i class="fa {{m.show ? 'fa-angle-down' : 'fa-angle-right'}} arrow-icon" *ngIf="m.submenu"></i>
        </a>
        <ul class="sublist-ul {{m.show ? 'active' : ''}}" *ngIf="m.show">
          <li *ngFor="let x of m.submenu" (click)="navigate(x.aurl)"
            [ngStyle]="{'background-color': x.activemenu ? '#557f96a6' : 'transparent' }">
            <a [ngStyle]="{'color':CompanyThemetextColor}">
              <span class="nav-text">
                {{x.menuitemname}}
              </span>
            </a>
          </li>
        </ul>
      </li>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </ul>

  </nav>

  <div id="searchModal" class="search-modal">
    <div class="search-modal-content">
      <i class="fa fa-times modal-fa"></i>

    </div>
  </div>

  <div id="menuNav" class="menunav">
    <p>Logout</p>
  </div>

</div>
